@{
    ViewBag.Title = "Recommendations";
}
@{
    ViewBag.Title = "Top 10 Babysitting Point Recommendations";
}
<h2>
    Top 10 Babysitting Recommendations</h2>
<div class="controls">
    <label for="babysitters">
        Choose Babysitter
    </label>
    <select id="babysitters">
        @foreach (var babysitter in ViewBag.BabySitters)
        {
            <option value="@babysitter.Id">@babysitter.Name</option>
        }
    </select>
</div>
<table id="recommendation-list">
</table>
<div id="recommendation-pager">
</div>
@section Navigation
{
    <li class="nav-header">Menu</li>
    <li>@Html.ActionLink("Rankings", "Index", "Home")</li>
    <li class="active">@Html.ActionLink("Recommendations", "Recommendations", "Home")</li>
}
@section Scripts
{
    <script type="text/javascript">
        var config = {
            listUrl: '@Url.Action("BabySitterRecommendations")'
        }
    </script>
    <script src="@Url.Content("~/Scripts/recommendations.js")" type="text/javascript"></script>
}
